@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	font-family: 'Roboto';
	font-weight: normal;
	background-color: #1C2222;
	color:white;
}

h1 {
	margin: 0;
}

#navigation {
	width: 100%;
	height: 40px;
	color: white;
}

#navigation a {
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
}

#navigation .menu-button {
	width: 50%;
	float: left;
	text-align: center;
	height: 100%;
	cursor: pointer;
	background-color: #3B8686;
	position: relative;
}

#navigation .menu-button span {
	padding-top: 10px;
	display: block;
}

#navigation .active-menu-button:after {
	content: " ";
	display: inline-block;
	background: white;
	width:100%;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -2px;
}

/* Search form */

#form {
	max-width: 300px;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	margin-top: 30px;
}

#form input {
	width: 64%;
	height: 30px;
	outline: none;
	border: none;
	border-bottom: 2px solid #3B8686;
	background-color: #262626;
	color: white;
	margin-right: 4%;
}

#form button {
	width: 30%;
	padding: 10px;
	border: none;
	color: white;
	outline: none;
	background-color: #3B8686;
	font-weight: lighter;
}

/* Search list */

.list {
	margin-top: 30px;
}

.list > img {
	width: 40px;
	display: block;
	margin: 0 auto;
}

.list li {
	height:120px;
	width:100%;
	background-color: #222B2B;
	position: relative;
	list-style-type: none;
	color: white;
}

.list li:nth-of-type(odd) {
	background-color: #1C2222;
}

.list li div {
	float: left;
	width: 70%;
	padding-left: 10px;
	margin-top: 13px;
}

.list li h1 {
	font-weight: normal;
	font-size: 1.1em;
}

.list li span {
	font-weight: lighter;
	font-size: 0.8em;	
	margin-top:10px;
}

.list li img {
	height: 100%;
	float: left;
	width: 80.8px;
}

/* Checkbox */

.list li input[type="checkbox"] {
	display: none;
}

.list li label {
	display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}

.list li label:before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 15px;
    top: 31px;
    background-color: #3B8686;
}

.list li input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 24px;
}

/* eind checkbox */